/* *** DEFAULTS ** */
html, body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.fancy-font {
  font-family: 'Sansita Swashed', cursive;
  font-size:larger;
}

/* *** SPLASH PAGE STYLES *** */
/*  Splash page layout *** */
body.full-page {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
#splash-main, #instructions-page-main {
  flex: 9;
  box-sizing: border-box;

  width: 100%;
  margin: 0 auto; 
  background-color: aliceblue;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
#splash-title {
  font-size: 2rem;
  font-weight: bold;
}

.splash-btns {
  margin: 0 auto; 
  width:400px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
.splash-btns .page-btns {
  width: 40%;
}
.page-btns {
  background-color: skyblue;
  border: solid 2px #444;
  border-radius: 16px;
  margin: 4px;
  padding: 12px;
  cursor:pointer;
} 
.page-btns:hover {
  background: rgb(255, 255, 255);
  font-weight:bold;
  box-shadow: 4px 2px 8px #444;
  color:#444;
}

footer {
  flex: 1;
  box-sizing: border-box;
  text-align:center;
  position: relative;
  width: 100vw;
  bottom: 0;
  padding: 4px 0 8px 0;
  margin:  0 auto;

  color: rgba(0,0,0,.5);
  background-color: skyblue;
  font-size:smaller;
  border-top: solid 2px #444;
}
.title-footer {
  font-style: italic;
}


/* *** Secondary Page Layout *** */

#instructions-page-body {
  width:100vw;
}

body.secondary-page {
  display:flex;
  flex-direction: column;
  height:100vh; 
  width:100vw;
  margin:0;
  padding:0;
}

header.secondary-page {
  box-sizing: border-box;
  width: 100vw;
  background: skyblue;
  border-bottom: solid 2px #666;
  padding: 12px 0;
  text-align: center;
  font-size: 1.8em;
  font-weight:bold;
}
header.secondary-page > .home-button {
  position: absolute;
  font-size: 1rem;
  top: 4px;
  left: 8px;
  color:#444;
}

/* *** Instructions page *** */
main.instructions-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.instructions-page .instructions-wrapper {
  width: min(800px, 75vw);
}

ul#card-features-list {
  border: solid thin ;
  border-radius: 16px;
  padding:12px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#card-features-list li {
  display: inline-block;
}
#instr-examples-container {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
} 
.instr-example-wrapper {
  background: skyblue;
  display: flex;
  flex-direction: column;
  border: solid thin #444;
  border-radius: 16px;
  margin: 0 8px;
}
.instr-example {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
#instr-mode-list {
  width:475px;
  margin: 0 auto;
  text-align: justify;
}
main.instructions-page .instructions-note {
  background: skyblue !important;
  border: solid 2px teal;
  border-radius: 16px;
  width:85%;
  padding: 12px;
  margin: 0 auto 8px auto;
  font-style: italic;
}


/* *** Play page layout *** */

main.play-page {
  box-sizing: border-box;
  flex: 22;
  display: flex;
  flex-direction: row;
  height:auto;
}
#game-sidebar {
  position: relative;
  min-width: 150px;
  background:white;
  border: solid 2px skyblue;
  border-radius: 16px;
  box-shadow: -5px 5px 4px rgba(0, 72, 100, .8);
  box-sizing: border-box;
  margin: 4px 8px 8px 8px;
  text-align:center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
} 
#game-sidebar * {
  margin: 4px auto;
}
.set-count-wrapper h4 {
  display: inline;
  margin: 4px;
} 
#set-count, #score-count {
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
}
.sets-found-list {
  max-width: 150px;
  height: 150px;
  border: solid thin #444;
  overflow-y: auto;
  overflow-x:hidden;
}
.set-found-wrapper { 
  width:90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1px auto !important;
} .set-found-wrapper * {
  margin: 2px !important;
}
.incorrect-counter-wrapper {
  font-size:smaller;
  font-style: italic;
}
.cards-remaining-wrapper {
  font-size: smaller;
  font-style: italic;
}

#sidebar-settings {
  text-align: left;
  font-size: smaller;
} #sidebar-settings * {
  margin: 0;
}
#sidebar-settings span.game-mode-expl {
  margin-left:8px;
  font-size:xx-small;
  font-style: italic;
}

.deck-graphic {
  position: relative;
  width: 100px;
  height: 65px;
  border: solid 3px black;
  border-radius: 16px;
  border-right-style: double;
  background-color: skyblue;
  background-image: linear-gradient(45deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-image: linear-gradient(-45deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 15px 15px;

} 
.deck-graphic.deck-stack-2 {
  bottom: 6px;
  right: 7px;
  margin: 0 !important;
}
.deck-stack-btn {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;

}
.deck-stack-btn:hover {
  box-shadow: 0 0 15px 2px skyblue;
} 
.deck-graphic .deck-btn-text {
  font-weight:bold;
  margin:0;
  padding: 4px 6px;
  background: rgba(255,255,255,.65);
  box-shadow: 0 0 10px 5px white;
  border-radius: 8px;
  transition: box-shadow 0.5s ease-in-out;
} 
.deck-stack-btn:hover > .deck-btn-text {
  box-shadow: 0 0 15px 8px white;
}


/* *** GAME PAGE LAYOUT - GRID *** */
/* ------------------------------ */
#game-board {
  flex: 5;
  box-sizing: border-box;
  background: aliceblue;
  padding:8px;
  position:relative;

  display: grid;
  grid-template-rows: repeat(3, 30%);
  grid-auto-flow: column;  
  grid-gap: 4px;
  overflow-x: auto;
}
.card {
  box-sizing: border-box;
  position: relative;
  width: min(180px, calc((100vw - 150px) / 6));
  height: min(120px, calc((100vw - 150px) / 9));

  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
} 
.card:hover {
  box-shadow: 0px 2px 12px skyblue;
}
.card-wrapper {
  margin:4px;
  background: white;

  border: solid 2px black;
  border-radius:16px;
  display: flex;
  flex-direction:rows;
  justify-content: center;
  align-items:center;
}
.card-demo {     /* For instructions */
  width:120px;
  height:80px;
  transform: scale(0.70);
}

.card-new {
  position: absolute;
  bottom: 20px;
  left: -100px;
  height: 10px;
  width: 8px;
  border-width: 2px;
}
.card.selected {
  box-shadow: 0px 4px 12px black;
}
.card.selected-wrong {
  box-shadow: 0px 4px 12px red;
}

.shape-object, .shape-object::before, .shape-object::after {
  border: solid 4px black;
}

:root {
--colorA: purple;
--colorB: orange;
--colorC: teal;
}
.color-A, .color-A::before, .color-A::after {
  color: var(--colorA);
  border-color: var(--colorA);
} .fill-filled.color-A {
  background-color: var(--colorA);
} .fill-striped.color-A {
  background-color: #fff;
  opacity: 0.9;
  background-image: linear-gradient(0deg, #fff 65%, var(--colorA) 35%);
  background-size: 10px 10px;
}
.color-B, .color-B::before, .color-B::after {
  color: var(--colorB);
  border-color: var(--colorB);
} .fill-filled.color-B {
  background-color: var(--colorB);
} .fill-striped.color-B {
  background-color: #fff;
  opacity: 0.9;
  background-image: linear-gradient(0deg, #fff 65%, var(--colorB) 35%);
  background-size: 10px 10px;
}
.color-C, .color-C::before, .color-C::after {
  color: var(--colorC);
  border-color: var(--colorC);
} .fill-filled.color-C {
  background-color: var(--colorC);
} .fill-striped.color-C {
  background-color: #fff;
  opacity: 0.9;
  background-image: linear-gradient(0deg, #fff 65%, var(--colorC) 35%);
  background-size: 10px 10px;
}
.shape-object.fill-empty {
  background-color: white;
}

.shape-diamond {
  height: 34%;
  width: 22%;
  transform: rotate(45deg) skew(20deg, 20deg);
  background-image: (45deg);
}
.shape-oval {
  margin: 0 4px;
  height: 70%;
  width: 18%;
  padding: 0;
  border-radius: 50%;
}
.shape-numeral {
  /* z-index:1; */
  height: 70%;
  width: 18%;
  position: relative;
  
  margin: 0 4px;
  border-radius: 4px;  
} 



@keyframes fade-in {
  0% { opacity: 0% }
  100% { opacity: 100% }
} 
@keyframes fade-out {
  0% { opacity: 100% }
  100% { opacity: 0% }
}
@keyframes glow-fade-in-out {
  0%, 100% { box-shadow: 0px 0px 0px 0px orange}
  50% { box-shadow: 0px 0px 12px 6px orange }
}

.hint-box {
  position:absolute;
  bottom: 10px;
  width:99%;
  margin: 0 auto;
  text-align: center;
}
.hint-box #hint-text {
  color: darkorange;
  font-style: italic;
}
.hint-box #hint-btn {
  opacity: 0;
  width: fit-content;
  border: solid thin #444;
  border-radius: 16px;
  margin: 4px auto;
  padding: 4px 8px;
  font-weight: bold;
  cursor: pointer;
  background: rgba(100, 100, 100, .2);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
} .hint-box #hint-btn:hover {
  background-color:rgba(100,100,100,.1);
  box-shadow: 0 0 4px skyblue;
}

.game-over-screen {
  z-index: 10;
  position: absolute;
  height: 98%;
  width: 95%;
  top: 5px;
  left: 0px;
  border: solid 3px black;
  border-radius: 24px;
  background:rgba(255, 255, 255, .65);
  text-align: center;

  display: none;
  flex-direction: column;
  justify-content: center;
}
.games-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
} .games-stats div {
  margin: 4px 8px 8px 8px;
}
#play-again-btn {
  width:fit-content;
  margin: 0 auto;
}